{
    "dev": {
        "host": "localhost",
        "username": "root",
        "password": "root",
        "database": "dev"
    }, 
     "prod": {
        "host": "",
        "username": "",
        "password": "",
        "database": ""
    }
}